<html>

<head>
	<script  type="text/javascript" src="/static/main/js/jquery-3.1.1.js"></script>
	<script  type="text/javascript" src="/static/main/css/bootstrap-3.3.7/dist/js/bootstrap.js"></script>
	<link rel="stylesheet" href="/static/main/css/bootstrap-3.3.7/dist/css/bootstrap.css">
	<script  type="text/javascript" src="/static/main/js/basico/ajax.js"></script>	
	<script  type="text/javascript" src="/static/main/js/basico/dom.js"></script>	
	<script  type="text/javascript" src="/static/main/js/basico/resemble.js"></script>	
	<script  type="text/javascript" src="/static/main/js/basico/upload.js"></script>	
	<script  type="text/javascript" src="/static/main/js/basico/basico.js"></script>	
	<script  type="text/javascript" src="/static/main/js/basico/base.js"></script>


</head>

<body>

<!------------------------------------------------- INICIO MENU DE INICIO -------------------------------------------------------->
    
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"></a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/main/informacion">Inicio</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Sistema de informacion
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/main/municipio">Método de homogenización de datos</a></li>
          <li><a href="/main/departamento">Método de la recta de regresión</a></li>
          <li><a href="/main/cliente_seguimiento">Método de correlación ortogonal</a></li>
          <li><a href="/main/tipodocumento">Método de los promedios</a></li>
          
          
          
        </ul>
      </li>
      
      <li><a href="/main/usuarios">Registro</a></li>
      <li><a href="/main/iniciosesion">iniciar sesión</a></li>
	  <li><a href="#">Contactos</a></li>
	  
    </ul>
  </div>
</nav> 

<!-------------------------------------------------- FIN MENU DE INICIO ---------------------------------------------------------->




</body>


</html>
