
<html>

<head>

<script  type="text/javascript" src="/static/main/js/jquery-3.1.1.js"></script>
	<script  type="text/javascript" src="/static/main/css/bootstrap-3.3.7/dist/js/bootstrap.js"></script>
	<link rel="stylesheet" href="/static/main/css/bootstrap-3.3.7/dist/css/bootstrap.css">
	<script  type="text/javascript" src="/static/main/js/basico/ajax.js"></script>	
	<script  type="text/javascript" src="/static/main/js/basico/dom.js"></script>	
	<script  type="text/javascript" src="/static/main/js/basico/resemble.js"></script>	
	<script  type="text/javascript" src="/static/main/js/basico/upload.js"></script>	
	<script  type="text/javascript" src="/static/main/js/basico/basico.js"></script>	
	<script  type="text/javascript" src="/static/main/js/basico/base.js"></script>


<!------------------------------------------------- INICIO MENU SECUNDARIO ------------------------------------------------------->
    
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"></a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"></li>
      <li class="dropdown">
        
          <li><a href="/main/indexprincipal">Ir al inicio</a></li>
          
        </ul>
      </li>
      
    </ul>
  </div>
</nav> 

<!------------------------------------------------ FIN MENU DE SECUNDARIO -------------------------------------------------------->

<h1></h1>               

</head>

<body>

{% csrf_token %}


<div class="container">
    	<div class="row">

				<div class="panel panel-login">
					<div class="panel-heading">
						<div class="row text-center" >
							
								<h1>INICIO DE SESIÓN</h1>
							
						</div>
						<br>

					<div class="panel-body">
						<div class="row">
							<div style="" class="col-lg-12">
								
								
								<form id="login-form" action="http://phpoll.com/login/process" method="post" role="form" style="display: block;">
									<div class="form-group">
										<input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Usuario" value="">
									</div>
									<div class="form-group">
										<input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Contraseña">
									</div>
									<div class="form-group text-center">
										<input type="checkbox" tabindex="3" class="" name="remember" id="remember">
										<label for="remember"> Recordarme</label>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-primary" value="Iniciar sesión">
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-lg-12">
												
											</div>
										</div>
									</div>
								</form>
			
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



</body>

<script  type="text/javascript">

</script>

<style type="text/css">

</style>

</html>










