
<html>

<head>

<script  type="text/javascript" src="/static/main/js/jquery-3.1.1.js"></script>
	<script  type="text/javascript" src="/static/main/css/bootstrap-3.3.7/dist/js/bootstrap.js"></script>
	<link rel="stylesheet" href="/static/main/css/bootstrap-3.3.7/dist/css/bootstrap.css">
	<script  type="text/javascript" src="/static/main/js/basico/ajax.js"></script>	
	<script  type="text/javascript" src="/static/main/js/basico/dom.js"></script>	
	<script  type="text/javascript" src="/static/main/js/basico/resemble.js"></script>	
	<script  type="text/javascript" src="/static/main/js/basico/upload.js"></script>	
	<script  type="text/javascript" src="/static/main/js/basico/basico.js"></script>	
	<script  type="text/javascript" src="/static/main/js/basico/base.js"></script>


<!------------------------------------------------- INICIO MENU SECUNDARIO ------------------------------------------------------->
    
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"></a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"></li>
      <li class="dropdown">
        
          <li><a href="/main/indexprincipal">Ir al inicio</a></li>
          
        </ul>
      </li>
      
    </ul>
  </div>
</nav> 

<!------------------------------------------------ FIN MENU DE SECUNDARIO -------------------------------------------------------->


</head>

<body>

{% csrf_token %}
		
		<input type="hidden" name="id" id="id" ><br>

<!---------------------------------------- inicio parte 1 - alerta personalizado ------------------------------------------------>

<div class="alert " id="alert_id" style="display:none;">  
  
</div>
  
<!------------------------------------------ fin parte 1 - alerta personalizado -------------------------------------------------->


<!--------------------------------------------- inicio formulario de registro ---------------------------------------------------->
			
			<div class="container">
            <form class="form-horizontal" role="form">
                <h1>REGISTRO</h1>
                

            <div class="">
				<form>
				
                <div class="form-group">
                <label for="firstName" class="col-sm-3 control-label">departamento *</label>
                <div class="col-sm-9">
                <select id="departamento_id" name="registro_name_1" class="form-control">
						<option value="0" selected>Seleccione...</option>
						{% for d in departamento %}
							<option value="{{ d.id }}" >{{ d.nombre }}</option>
						{% endfor %}
						
				</select>
                </div>	
                </div>
                
                
                <div class="form-group">
                <label for="firstName" class="col-sm-3 control-label">municipio * </label>
                <div class="col-sm-9">
                <select id="municipio_id" name="registro_name_2" class="form-control">
						<option value="0" selected>Seleccione...</option>
						{% for i in municipio %}
							<option value="{{ i.id }}" >{{ i.nombre }}</option>
						{% endfor %}
						
				</select>
                </div>	
                </div>
                
              
                <div class="">
				<form>
                <div class="form-group">
                <label for="firstName" class="col-sm-3 control-label">tipo de documento * </label>
                <div class="col-sm-9">
                <select id="tipodocumento_id" name="registro_name_1" class="form-control">
						<option value="0" selected>Seleccione...</option>
						{% for t in tipodocumento %}
							<option value="{{ t.id }}" >{{ t.detalle }}</option>
						{% endfor %}
						
				</select>
                </div>	
                </div>
                
                
                
                <div class="form-group">
				   <label for="firstName" class="col-sm-3 control-label">numero de identidad * </label>
                    <div class="col-sm-9">
                        <input type="text" id="numero_identidad" placeholder="ingrese su numero de identidad" class="form-control" autofocus>
                    </div>
                </div>
                
                
                <div class="form-group">
                    <label for="lastName" class="col-sm-3 control-label">nombres * </label>
                    <div class="col-sm-9">
                        <input type="text" id="nombres" placeholder="ingrese sus nombres" class="form-control" autofocus>
                    </div>
                </div>
                
                
                <div class="form-group">
                    <label class="col-sm-3 control-label">primer apellido * </label>
                    <div class="col-sm-9">
                        <input type="text" id="primer_apellido" placeholder="ingrese su primer apellido" class="form-control" name= "email">
                    </div>
                </div>
                
                
                <div class="form-group">
                    <label class="col-sm-3 control-label">segundo apellido * </label>
                    <div class="col-sm-9">
                        <input type="text" id="segundo_apellido" placeholder="ingrese su segundo apellido" class="form-control">
                    </div>
                </div>
                
                
                <div class="form-group">
                    <label class="col-sm-3 control-label">genero * </label>
                    <div class="col-sm-9">
                        <input type="text" id="genero" placeholder="ingrese solo la letra (inicial) del genero (F) o (M)" class="form-control">
                    </div>
                </div>
                
                
                <div class="form-group">
                    <label for="birthDate" class="col-sm-3 control-label">fecha de nacimiento</label>
                    <div class="col-sm-9">
                        <input type="text" id="fecha_nacimiento" placeholder="año - mes - dia" class="form-control">
                    </div>
                </div>
                
                
                <div class="form-group">
                        <label class="col-sm-3 control-label">profesion u oficio </label>
                    <div class="col-sm-9">
                        <input type="text" id="profesion_oficio" placeholder="ingrese su profesion u oficio" class="form-control">
                    </div>
                </div>
               
                
                <div class="form-group">
                        <label class="col-sm-3 control-label">numero de celular </label>
                    <div class="col-sm-9">
                        <input type="text" id="numero_celular" placeholder="ingrese su numero de celular" class="form-control">
                    </div>
                </div>
                
                
                <div class="form-group">
                        <label class="col-sm-3 control-label">numero de telefono </label>
                    <div class="col-sm-9">
                        <input type="text" id="numero_telefono" placeholder="ingrese su numero de telefono" class="form-control">
                    </div>
                </div>
               
                
                <div class="form-group">
                        <label class="col-sm-3 control-label">direccion de residencia * </label>
                    <div class="col-sm-9">
                        <input type="text" id="direccion_residencia" placeholder="ingrse su direccion de residencia" class="form-control">
                    </div>
                </div>
               
                
                <div class="form-group">
                        <label class="col-sm-3 control-label">correo electronico * </label>
                    <div class="col-sm-9">
                        <input type="text" id="email" placeholder="ingrese su correo electronico" class="form-control">
                    </div>
                </div>
               
                
                <div class="form-group">
                        <label class="col-sm-3 control-label">grado de obesidad en el que se encuentra * </label>
                    <div class="col-sm-9">
                        <input type="text" id="estado" placeholder="por ejemplo peso normal, Sobrepeso grado I, Sobrepeso grado II" class="form-control">
                    </div>
                </div>
               
                
                <div class="form-group">
                        <label class="col-sm-3 control-label">cliente referido * </label>
                    <div class="col-sm-9">
                        <input type="text" id="cliente_referido" class="form-control">
                    </div>
                </div>


                <div class="form-group">
                        <label class="col-sm-3 control-label">usuario * </label>
                    <div class="col-sm-9">
                        <input type="text" id="usuario" class="form-control">
                    </div>
                </div>


                <div class="form-group">
                        <label class="col-sm-3 control-label">contraseña * </label>
                    <div class="col-sm-9">
                        <input type="password" id="contrasena" class="form-control">
                    </div>
                </div>
                   
                
                
                <button onclick="guardar()" class="btn btn-primary btn-block">Registro</button>
                <button onclick="" id="enviarbtn" class="btn btn-danger btn-block">Cancelar</button>
            </form> <!-- /form -->
        </div> <!-- ./container -->

<!--------------------------------------------- fin formulario de registro ------------------------------------------------------->
			
			<br>
            <br>
            <br>
            
</body>

<script  type="text/javascript">

gId("id").value=0;




function guardar(value,status)
{
	if(status==undefined)
	{
	    var cliente_id = gId("id").value;
	    
	    var numero_identidad = gId("numero_identidad").value;
	    var nombres = gId("nombres").value;
	    var primer_apellido = gId("primer_apellido").value;
	    var segundo_apellido = gId("segundo_apellido").value;
	    var genero = gId("genero").value;
	    var fecha_nacimiento = gId("fecha_nacimiento").value;
	    var profesion_oficio = gId("profesion_oficio").value;
	    var numero_celular = gId("numero_celular").value;
	    var numero_telefono = gId("numero_telefono").value;
	    var direccion_residencia = gId("direccion_residencia").value;
	    var email = gId("email").value;
	    var estado = gId("estado").value;
	    var cliente_referido = gId("cliente_referido").value;
	    var usuario = gId("usuario").value;
	    var contrasena = gId("contrasena").value;
	    var departamento_id = gId("departamento_id").value;
	    var municipio_id = gId("municipio_id").value;
	    var tipodocumento_id = gId("tipodocumento_id").value;
	    	    
	    console.log(cliente_id)
	    console.log(numero_identidad)
	    console.log(nombres)
	    console.log(primer_apellido)
	    console.log(segundo_apellido)
	    console.log(genero)
	    console.log(fecha_nacimiento)
	    console.log(profesion_oficio)
	    console.log(numero_celular)
	    console.log(numero_telefono)
	    console.log(direccion_residencia)
	    console.log(email)
	    console.log(estado)
	    console.log(cliente_referido)
	    console.log(usuario)
	    console.log(contrasena)
	    console.log(departamento_id)
	    console.log(municipio_id)
	    console.log(tipodocumento_id)
	    
		// se define  un diccionario con los datos a enviar y se ejecuta el ajax
		var datos= {"id": cliente_id, "numero_identidad": numero_identidad, "nombres": nombres, "primer_apellido": primer_apellido, "segundo_apellido": segundo_apellido, "genero": genero, "fecha_nacimiento": fecha_nacimiento, "profesion_oficio": profesion_oficio, "numero_celular": numero_celular, "numero_telefono": numero_telefono, "direccion_residencia": direccion_residencia, "email": email, "estado": estado, "cliente_referido": cliente_referido, "usuario": usuario, "contrasena": contrasena, "departamento_id": departamento_id, "municipio_id": municipio_id, "tipodocumento_id": tipodocumento_id}
		ajaxBasic(datos,"/main/guardarcliente",'guardar');
	}
	else
	{
		//si status esta definido quiere decir que la variable value trae la informacion de la respuesta del ajax.
		if(value==2)
		{
//----------------------------------------- inicio parte 2 - alerta personalizado -------------------------------------------------			
			
			gId("alert_id").style.display="block";
			gId("alert_id").innerHTML = "creado con exito"
			gId("mostrarmodal").style.display="none";
			setTimeout(function(){document.location.reload(true);},2000);

//------------------------------------------- fin parte 2 - alerta personalizado --------------------------------------------------
			
			
		}
		else if(value==3)
		{

//----------------------------------------- inicio parte 2 - alerta personalizado -------------------------------------------------			
			
			gId("alert_id").style.display="block";
			gId("alert_id").innerHTML = "editado con exito"
			gId("mostrarmodal").style.display="none";
			setTimeout(function(){document.location.reload(true);},2000);

//------------------------------------------- fin parte 2 - alerta personalizado --------------------------------------------------

		}
		else
		{

//----------------------------------------- inicio parte 2 - alerta personalizado -------------------------------------------------			
			
			gId("alert_id").style.display="block";
			gId("alert_id").innerHTML = "no ok"
			gId("mostrarmodal").style.display="none";
			setTimeout(function(){document.location.reload(true);},2000);

//------------------------------------------- fin parte 2 - alerta personalizado --------------------------------------------------

		}
		
	}
}


</script>

</html>
